body {
    margin: 0;
    padding: 0;
    
    
    width: 500px;
}

.header-section{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

#header-icon{
    width: 60px;
}