body {
    margin: 0;
    padding: 20px;
    
    
    width: 400px;
}

.header-section{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

#header-icon{
    width: 60px;
}

.input-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid black;
}

.input-section input{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.input-section button{
    cursor: pointer;
    padding: 3px 10px;
    background: black;
    color: white;
    /* border: 1px solid black; */
    
}


ul{
    margin-top: 20px;
    padding: 0;
}

ul li{
    margin: 0;
    position: relative;
    list-style-type: none;
}

#checked{
    margin-left: 20px;
    margin-right: 20px;
}

#closed{
    position: absolute;
    top: 0;
    right: 0;
}